# main
fastapi
uvicorn

#templates
jinja2==3.0.0

#static files
aiofiles

# db
sqlalchemy
psycopg2
databases
asyncpg #For postgres async support

# for email validation
pydantic[email]

# env variables
python-dotenv

# hashing
passlib[bcrypt]